.footer-container {
  background: #060c3e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-img {
  width: 55%;
  border-radius: 20%;
}

.copyright-footer {
  font-size: 12px;
  color: #eee;
  margin: 50px 0 25px 0;
}
