.booking-container {
  background: #060c3e;
  padding: 0;
  height: 100vh;
}

.card-header {
  font-size: 24px;
  padding: 25px;
  background: #87cefa;
  color: #111111;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  margin-bottom: 10px;
}

.bodyText {
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.list-group-item {
  background: #f0f8ff;
  padding: 30px;
  color: #111111;
  font-size: 22px;
  height: 50%;
  border: 1px solid black !important;
}

.card {
  background: transparent;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.list-group {
  height: 100%;
}

.btn {
  padding: 20px 0;
  width: 100%;
  font-size: 20px;
  background: #7fdbff;
  position: relative;
  bottom: 0;
  border: 0 !important;
  color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 10px;
  transition: 0.5s;
}

.btn:hover {
  background: #7d26cd;
  transition: 0.5s;
}

.booking-main-header {
  background: #7fdbff;
  padding: 25px;
  margin: 0 0 100px 0;
  color: black;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.row {
  width: 100%;
}

.section-title {
  margin: 0;
}

@media only screen and (max-width: 721px) {
  .booking-main-header > h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 920px) {
  .booking-container {
    height: fit-content;
    padding-bottom: 100px;
  }

  .col-sm-12 {
    margin-bottom: 50px;
  }
}
