.header-container {
  height: 400px;
  background: #423075;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header {
  letter-spacing: 5px;
  background: #241844;
  padding: 25px;
  margin: 25px 0;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

h2 {
  font-size: 36px;
  margin: 10px;
}

h1 {
  font-size: 52px;
  margin: 10px;
}
