.body-container {
  background: #060c3e;
  display: flex;
  padding: 0 5% 5% 5%;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.bodyWordsImg {
  width: 100%;
  margin-top: -10%;
}

.bodyChartImg {
  width: 65%;
  float: right;
}

.chartImgRow {
  height: fit-content;
}

.chartImgRow > div {
  height: fit-content;
}

.bodyParagraph {
  font-size: 2.2vw;
}

.row {
  margin-top: 5%;
  margin-bottom: 7%;
}

.book-consultation-btn {
  font-size: 2vw;
  border-radius: 0 0 15px 15px;
  padding: 15px 0;
  transition: 0.5s;
  background: #7fdbff;
  text-align: center;
  text-decoration: none !important;
  color: black;
  cursor: pointer;
  text-align: center;
  width: 75%;
}

.book-consultation-btn:hover {
  transition: 0.5s;
  background: #7d26cd;
  color: white;
  text-decoration: none !important;
}

.btn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 920px) {
  .bodyChartImg {
    float: none;
    width: 100%;
  }
}
